<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 描述一個元件Spring bean來源跟特徵 -->
	<bean id="datasource"
		class="org.apache.commons.dbcp2.BasicDataSource" abstract="false"
		lazy-init="true" autowire="default">
		<!-- 屬性設定Property as setXxx() 注入必要的條件 -->
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
		<property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=NORTHWND"/>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password" value="1111"/>
	</bean>

	<!-- JdbcTeamplate不能單獨運作 必須配合一個DataSource能夠生產連接物件進行資料庫連接與開啟 -->
	<bean id="dao" class="org.springframework.jdbc.core.JdbcTemplate"
		abstract="false" lazy-init="default" autowire="default">
		<!-- 屬性注入DataSource物件 -->
		<property name="dataSource" ref="datasource"/>
	</bean></beans>