<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.gjun.view.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
   <!-- 配置這一個jersey 2.x Servlet隨著網站系統啟動 同時產生一個體物件 開始進行服務 -->
   <!-- 
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
     <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.gjun.service</param-value>
      </init-param>
   
    <load-on-startup>1</load-on-startup>
 </servlet>
  <servlet-mapping>
     <servlet-name>jersey-serlvet</servlet-name>
     <url-pattern>/v1/*</url-pattern>
 </servlet-mapping>
 -->
  
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <!-- 
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
   -->
   <!-- 佈署攔截器 進行驗證使用者是否登入作業 -->
   <filter>
   	<filter-name>authorization</filter-name>
   	<filter-class>com.gjun.filter.AuthFilter</filter-class>
   </filter>
   
   <!-- 攔截的目標 -->
   <filter-mapping>
   	<filter-name>authorization</filter-name>
   	<url-pattern>/it/*</url-pattern>
   </filter-mapping>
</web-app>